<div class="card">
  <div class="card-header text-center h2 text-muted">
    EntreLab
  </div>
  <%# Form field must tally with what we have in the profile schema %>
  <div class="card-body">
    <%= form_for @profile, url: user_profile_path, html: { multipart: true } do |f| %>
      <%# <%= hidden_field_tag 'plan', params[:plan] %>
      <div class="form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :job_title %>
        <%= f.select :job_title,['Developer','Entrepreneur', 'Investor'],{}, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :contact_email %>
        <%= f.text_field :contact_email, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="field form-group mb-4">
        <div class="actions">
          <%= f.submit "Save profile", class: 'form-control btn btn-info btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
