<%= @user.inspect %>
<%= @user.profile.inspect %>
<div><%= @user.profile.first_name %></div>
<div><%= @user.profile.last_name %></div>
<% if current_user.plan_id == 2 %>
  <div><%= @user.profile.phone_number %></div>
  <div><%= @user.profile.contact_email %></div>
<% end %>
